
.main .m_right{
    float: left;
    /*width: 5.247780678851175rem;*/
    width: 5.769973890339426rem;
    margin-left: 0.1775456919060052rem;
  }
  .main .m_r_top{
    height: 0.1827676240208877rem;
    position: relative;
  }
  .main .m_r_top_l{
    position: absolute;
    left: 0;
    top:0.1035509138381201rem;
    color:#000;
    font-size: 0.0731070496083551rem;
  }
  .main .m_r_top_c{
    position: absolute;
    left: 4.6088772845953rem;
    font-size: 0.0626631853785901rem;
    height: 0.1827676240208877rem;
    width: 0.5221932114882507rem;
    background-color: #3ca8f0;
    border-radius: 2px;
  }
  .main .m_r_top_c span{
    position: relative;
    left: 0.1187728459530026rem;
    top: 0.0469973890339426rem;
    color: #fff;
  }
  .main .m_r_top_r{
    position: absolute;
    left: 5.157963446475196rem;
    font-size: 0.0626631853785901rem;
    height: 0.1827676240208877rem;
    width: 0.5221932114882507rem;
    background-color: #3ca8f0;
    border-radius: 2px;
  }
  .main .m_r_top_r span{
    position: relative;
    left: 0.1187728459530026rem;
    top: 0.0469973890339426rem;
    color: #fff;
  }
  .main .m_right .m_r_empty{
    height: 0.1044386422976501rem;
    width: 5.769973890339426rem;
    border-bottom: 1px solid #e6e7e7;
  }
  .main .m_right .m_r_main input{
    outline: none;
  }
  .main .m_right .m_r_main p{
    color: #666;
    font-size: 0.0731070496083551rem;
  }
  .main .m_right .m_r_main p span{
    color: #3ba8f0;
  }
  .main .m_right .m_r_main .m_r_m_center .m_r_m_c-left .m_right_30{
    margin-right: 0.1566579634464752rem;
    color: #666666;
    font-size: 0.0731070496083551rem;
  }
  .main .m_right .m_r_main .m_r_main-leng img{
    height: 0.2088772845953003rem;
  }
  
  .main .m_right .m_r_main {
    margin-top: 0.0992167101827676rem;
  }
  .main .m_right .m_r_main p{
    color: #6f6f6f;
    font-size: 0.0731070496083551rem;
  }
  .main .m_right .m_r_main .m_r_m_tool{
    /*margin-top: 0.0992167101827676rem;*/
    width: 1.775456919060052rem;
    height: 0.835509138381201rem;
    border: 1px solid #dddddd;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .main .m_right .m_r_main .m_r_m_tool div{
    display: inline-block;
    vertical-align: middle;
  }
  .main .m_right .m_r_main .m_r_m_tool .middle img{
    height: 0.5535248041775457rem;
  }
  .main .m_right .m_r_main .m_r_m_top{
    margin-top: 0.0992167101827676rem;
    margin-bottom: 0.1566579634464752rem;
    display: inline-block;
    margin-left: 0.0944386422976501rem;
  }
  .main .m_right .m_r_main .m_r_m_tool .m_r_m_content p{
    height: 0.1253263707571802rem;
    line-height: 0.1253263707571802rem;
    color: #c6c6c6;
  }
  .main .m_right .m_r_main .m_r_m_tool .m_r_m_content p:nth-child(1){
    color: #333;
  }
  .main .m_right .m_r_main .m_r_m_tool .m_r_m_content span{
    color: #333;
  }
  .main .m_right .m_r_main .m_r_m_tool .bottom{
    position: absolute;
    left: 1.447806788511749rem;
    top: 0.7058485639686684rem;
  }